node_modules/
dist/
*.o
*.a
*.so
.DS_Store
.env
.env.local
.idea/
.vscode/
*.swp
*.swo
*~
/frontend/dist
/backend/kinetic
/frontend/src/**/*.js
/backend/src/**/*.js
/shared/**/*.js
go.sum
/backend/tmp/
